.footer {
  background: linear-gradient(180deg, #dbd0d974, #e1ffeac2);
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}
.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.footer-logo h2 {
  font-size: 40px;
}
.footer-content {
  padding: 10px;
}
li {
  list-style-type: none;
  display: inline;
  margin: 20px;
}
.footer-icon {
  padding: 10px;
}
.footer-end {
  padding: 10px;
}
.footer-end h3 {
  margin-top: 20px;
  font-size: 15px;
  font-weight: 300;
}
