.popular-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
.popular-title {
  text-align: center;
  margin: 50px;
}
.popular-line {
  width: 15%;
  margin: 0 auto;
  background-color: rgb(145, 44, 44);
  height: 3px;
}
.popular-div {
  margin-bottom: 100px;
}
